rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    function isValidSubscriber(data) {
      return data.keys().hasAll(['email', 'createdAt']) &&
             data.keys().size() == 2 &&
             data.email is string &&
             data.email.size() >= 5 &&
             data.email.size() <= 100 &&
             data.createdAt is timestamp;
    }

    match /subscribers/{subscriberId} {
      // Anyone can subscribe (create), but they can only provide `email` and `createdAt`.
      // We don't require auth to subscribe to a newsletter, but we restrict read and write otherwise.
       allow create: if isValidSubscriber(request.resource.data) && request.resource.data.createdAt == request.time;
       allow read, update, delete: if false; // No reading, updating, or deleting from client
    }
  }
}
